PROJECT_NAME="Inventory Cloud API"
ENVIRONMENT="development"

POSTGRES_USER=postgres
POSTGRES_PASSWORD=tu_password_seguro
POSTGRES_DB=inventory_db
POSTGRES_PORT=5432

DATABASE_URL="postgresql+psycopg://postgres:tu_password_seguro@localhost:5432/inventory_db"

SECRET_KEY="tu_clave_secreta_aqui"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60

AWS_REGION="us-east-1"
S3_BUCKET_NAME="tu_bucket_s3_aqui"