PROJECT_NAME="Inventory Cloud API"
ENVIRONMENT="development"
DATABASE_URL="postgresql+psycopg://postgres:postgres@localhost:5432/inventory_db"
SECRET_KEY="clave_secreta"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60
AWS_REGION="us-east-1"
S3_BUCKET_NAME="bucket_s3"