# Entorno virtual
venv/
.venv/
env/

# Caché y archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Variables de entorno
.env
.env.local
.env.*.local

# Bases de datos y almacenamiento local
*.sqlite3
*.db
postgres_data/

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Pruebas y cobertura
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log